header
    padding: 100px 0
    min-height: 100vh
    @include flex(column, center, center)
    .header__heading
        font-size: 4rem
        span
            color: $color__primary
    .search__container
        margin-top: 10rem
        width: 100%
        height: fit-content
        @include flex(row, flex-end, center)
        .search__bar
            width: 40%
            padding: 1rem
            background-color: transparent
            border: none
            outline: none
            border-bottom: 1px solid $color__light
            font-size: 1.6rem
            @include transition(300ms, ease-in-out)
            &:focus
                border-bottom: 4px solid $color__primary
        .search__icon
            padding: 1rem
            margin-left: 4rem
            border-bottom: 1px solid $color__light
            @include transition(300ms, ease-in-out)
            cursor: pointer
            *
                cursor: pointer
            &:hover
                border-bottom: 4px solid $color__primary