@import url(https://api.fontshare.com/v2/css?f[]=manrope@700,400,300,1,800,600,500,200&display=swap)

$color__primary: rgb(163, 140, 253)
$color__light: rgb(224, 216, 255)
$color__white: rgb(255, 255, 255)
$color__dark: rgb(16, 16, 16)


*
    padding: 0
    margin: 0
    box-sizing: border-box    

body
    width: 100%
    min-height: 100vh
    background-color: $color__dark

p, a, li, span, q, small, h1, h2, h3, h4, h5, h6, input, textarea, button
    font-family: 'Manrope', sans-serif
    color: $color__light

@import ../containers/_index