@import url(https://api.fontshare.com/v2/css?f[]=manrope@700,400,300,1,800,600,500,200&display=swap)

$color__primary: rgb(163, 140, 253)
$color__secondary: rgb(224, 216, 255)
$color__error: rgb(255, 74, 74)
$color__light: rgb(255, 255, 255)
$color__dark: rgb(16, 16, 16)

@mixin flexi($direction, $align, $justify)
    display: flex !important
    flex-direction: $direction !important
    justify-content: $justify !important
    align-items: $align !important

@mixin pos($position, $zi, $top, $right, $bottom, $left)
    position: $position !important
    top: $top !important
    left: $left !important
    right: $right !important
    bottom: $bottom !important
    z-index: $zi !important

@mixin flex($direction, $align, $justify)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $align

@mixin transition($dur, $tfunc)
    transition-duration: $dur !important
    transition-timing-function: $tfunc !important

*
    padding: 0
    margin: 0
    box-sizing: border-box    

body
    width: 100%
    min-height: 100vh
    background-color: $color__dark
    overflow-x: hidden
    scrollbar-width: auto
    scrollbar-color: $color__primary $color__dark
    &::-webkit-scrollbar
        width: 12px
        @media screen and ( max-width: 900 )
            display: none
            width: 0
    &::-webkit-scrollbar-track
        background: $color__dark
    &::-webkit-scrollbar-thumb
        background-color: $color__primary

p, a, li, span, q, small, h1, h2, h3, h4, h5, h6, input, textarea, button
    font-family: 'Manrope', sans-serif
    color: $color__light

ul, li
    list-style: none

a
    text-decoration: none

.error__input
    border-bottom: 4px solid $color__error !important

@import ../containers/_index
@import ../components/_index